{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <img src="{{ object | itm_ipw_path('picture') | imagine_filter('crop_preview') }}" />
    </div>
{% endblock %}
