<!DOCTYPE html>
<html>
<head><title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <style>
        body {font-family:'Ubuntu-Light';}
        .first-table td {border: 1px black solid;}
        .second-table td {border: 1px black solid;}
        .third-table td {border: 1px black solid;}
        .forth-table td {border: 1px black solid;}
    </style>
</head>
<body>
    <table class="first-table" cellspacing="4">
        <tr>
            <td><b>ПОСТАВЩИК</b></td>
            <td><b>СЧЕТ</b></td>
        </tr>

        <tr>
            <td>Общество с ограниченной ответственностью «Кампари»</td>
            <td></td>
        </tr>

        <tr>
            <td>220024, г. Минск, ул. Бабушкина, 21А</td>
            <td>№ 001</td>
        </tr>

        <tr>
            <td>Тел.: 8(017)291-91-12; -13; -15; Факс: 8(017)291-89-46</td>
            <td>от 03/10/2015 г.</td>
        </tr>

        <tr>
            <td>УНП 101362124   ОКПО 37485305</td>
            <td></td>
        </tr>

        <tr>
            <td>Р/с № 3012300008808 в ОАО «Белгазпромбанк», код 153001742 <br>
                адрес банка: г. Минск, ул. Притыцкого, 60/2 </td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2" style="height: 15px;"></td>
        </tr>

        <tr>
            <td><b>ПОКУПАТЕЛЬ:</b></td>
            <td></td>
        </tr>

        <tr>
            <td>ООО «Компания» </td>
            <td></td>
        </tr>

        <tr>
            <td>220024, г. Минск, ул. Бабушкина, 21А</td>
            <td></td>
        </tr>

        <tr>
            <td>Тел.: 11111111111111</td>
            <td></td>
        </tr>

        <tr>
            <td>УНП 11111111111111</td>
            <td></td>
        </tr>

        <tr>
            <td>Р/с № 3010000000000 в ф-л 110 ЗАО «Банк», код 111</td>
            <td></td>
        </tr>

        <tr>
            <td>Основание:  Договор:  № И-00001 от 03/06/2015 г.</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2" style="height: 15px;"></td>

        </tr>
    </table>

    <table class="second-table">
        <tr>
            <td><b>Условия поставки:</b></td>
            <td style="width: 413px">Самовывоз: г. Минск, ул. Бабушкина, 21А, РБ</td>
        </tr>

        <tr>
            <td colspan="2" style="height: 15px;"></td>
        </tr>

    </table>

    <table class="third-table">
        <tr>
            <td style="width: 558px;"><b>Контактное лицо:</b> 111111111111111 <br>
                 <b>Тел:</b> 1111111111111111111
            </td>
        </tr>

        <tr>
            <td style="height: 15px"></td>
        </tr>

    </table>

    <table class="forth-table">
        <tr>
            <td>№ п/п</td>
            <td>Наименование товара</td>
            <td>Ед. изм.</td>
            <td>Количество</td>
            <td>Цена</td>
            <td>Сумма без НДС</td>
            <td>Ставка НДС, %</td>
            <td>Сумма НДС</td>
            <td>Сумма с НДС.</td>
        </tr>

        <tr>
            <td>1</td>
            <td>Ватные палочки Meggi 100
                Артикул: MEG 950</td>
            <td>Шт.</td>
            <td>10</td>
            <td>8376</td>
            <td>83760</td>
            <td>20</td>
            <td>20940</td>
            <td>104700</td>
        </tr>

        <tr>
            <td colspan="4">ИТОГО:</td>
            <td>8376</td>
            <td>83760</td>
            <td>X</td>
            <td>20940</td>
            <td>104700</td>
        </tr>

        <tr>
            <td colspan="2">Всего к оплате:</td>
            <td colspan="7">прописью</td>
        </tr>

        <tr>
            <td colspan="2">в том числе НДС:</td>
            <td colspan="7">прописью</td>
        </tr>

        <tr>
            <td colspan="2">Счет выдал:</td>
            <td colspan="3">Начальник отдела маркетинга и продаж </td>
            <td colspan="3"></td>
            <td> Ловцевич Д.З.</td>
        </tr>

        <tr>
            <td colspan="2"></td>
            <td colspan="3">(должность)</td>
            <td colspan="3">(подпись)</td>
            <td>(расшифровка подписи)</td>

        </tr>
        <tr></tr>

    </table>

</body>
</html>