{% if app.user %}
<li class="basket_l"><a href="{{ path('show_basket') }}"><b>Корзина (</b><span id="basket-products-number">{{ quantityAssortment }}</span><b>)</b><span class="span--hide">{{ finalCostForAllProducts | format_amount }} руб.</span></a></li>
{% endif %}